#searchBar{
    margin: 25px;
}

.cityWeather {
    font-size: 24pt;
    padding-left: 30px;
    line-height: 30px;
    padding-bottom: 50px;
}

.info {
    font-size: 20px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.safe {
    background-color: darkgreen;
}

.moderate {
    background-color: yellow;
}

.warning {
    background-color: orange;
}

.very-high {
    background-color: rgb(170, 5, 5);
}

.dangerous {
    background-color: rgb(104, 6, 104);
}
