#searchBar{
    margin: 25px;
}

.cityWeather {
    font-size: 24pt;
    padding-left: 30px;
    line-height: 30px;
    padding-bottom: 50px;
}

.info {
    font-size: 20px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.safe {
    background-color: darkgreen;
}

.moderate {
    background-color: yellow;
}

.warning {
    background-color: orange;
}

.very-high {
    background-color: rgb(170, 5, 5);
}

.dangerous {
    background-color: rgb(104, 6, 104);
}

.card {
    border: none;
}


.city-btn {
    background-color: #5e6572;
}

.card-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: black;
    display: inline-block;
    border: solid black 2px;
    margin: 20px;
    padding: 40px;
    flex-direction: row;
    width: auto;
    background-color: lightskyblue;
}

.city-weather {
    margin-bottom: 50px;
    padding-bottom: 50px;
}


.headline {
    font-size: 34px;
    border: none;
    display: inline-block;
}


.city-weather {
    font-size: 36pt;
    padding-left: 40px;
    line-height: 32px;
    padding-bottom: 60px;
}

#search {
    width: 290px;
    float: left;
}

#search-header {
    margin-right: 25px;
}

#li {
    padding: 20px;
}

h1 {
    padding-left: 20px;
}

.uv-index {
    margin-bottom: 25px;
}

#five-day {
    display: inline-block;
    height: 100px;
}

.card {
    position: relative;
    display: inline-block;
}

.cardbody {
    border: none;
    display: inline-block;
    flex-direction: row;
}